{{ form_start(form) }}
<fieldset class="showChallenge2">
    <legend>Editer un indice</legend>
    <table class="form_table2">
        <tr>
            <td class="td_label">
                {{ form_label(form.numberHelp, 'Numéro d\'indice : ') }}
            </td>
            <td class="td_field2">
                {{ form_widget(form.numberHelp, {'attr': {'class': 'form_field'}}) }}
            </td>
        </tr>
        <tr>
            <td class="td_label">
                {{ form_label(form.contentHelp, 'Indice : ') }}
            </td>
            <td class="td_field2">
                {{ form_widget(form.contentHelp, {'attr': {'class': 'form_field3'}}) }}
            </td>
        </tr>
    </table>
</fieldset>
<button class="btnG">{{ button_label|default('Modifier l\'indice') }}</button>

{{ form_end(form) }}

