{{ form_start(form) }}
<fieldset class="formInscription">
    <legend class="legendInscription">Création d'un groupe</legend>
    <div class="form-group">
        {{ form_label(form.nickname, 'Nom du groupe : ') }}
        <div class="col-sm-14">
            {{ form_widget(form.nickname) }}
        </div>
        <button class="btn btn-success">{{ button_label|default('Créer le groupe') }}</button>
</fieldset>
{{ form_end(form) }}

