{% extends 'base.html.twig' %}

{% block title %}Help index{% endblock %}

{% block body %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>ContentHelp</th>
                <th>NumberHelp</th>
                <th>Id Challenge</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for help in helps %}
            <tr>
                <td>{{ help.id }}</td>
                <td>{{ help.contentHelp }}</td>
                <td>{{ help.numberHelp }}</td>
                <td>{{ help.challenge.id }}</td>
                <td>
                    <a href="{{ path('help_show', {'id': help.id}) }}">show</a>
                    <a href="{{ path('help_edit', {'id': help.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
