{% extends 'base.html.twig' %}

{% block title %}Indice(s) du défi {{ challenge.id }}{% endblock %}

{% block body %}
    <fieldset class="showChallenge">
        <legend>Les indices du défi {{ challenge.id }}</legend>
        {% if helps != null %}
        <div class="challenge_container">
        {% for help in helps %}
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title"> Indice {{ help.numberHelp }} :</h4>
                            <hr class="helpHr"><br>
                            <h5 class="card-text"> Contenu : {{ help.contentHelp }} </h5>
                        </div>
                        <div class="buttonStartChallenge">
                            <a href="{{ path('help_edit', {'id': help.id}) }}"> <button class="btnG"> Modifier </button> </a>
                        </div>
                    </div>
            {% endfor %}
        </div>
        {% else %}
            <div class="divProf">
                <img class="imgProf" src="{{ asset('images/professeur.png') }}"
                     alt="Professeur_Thymio">
                <p> Aucun indice n'a été crée pour ce défi</p>
                <br>
            </div>
        {% endif %}
    </fieldset>

    <div>
        <a href="{{ path('challenge_show_my_challenge') }}">
            <button type="button" class="btnB2">Retour à mes défis</button>
        </a>
    </div>

{% endblock %}
