{{ form_start(form) }}
<div>
    {# utilisation de classes bootstrap pour la mise en forme #}

    {{ form_widget(form.comment) }}
</div>
<div class="form-group">
    {{ form_widget(form.id, {'attr': {'value': form.id.vars.value|default(soloStatus.id)}}) }}
</div>
<div class="buttonMargin">
    <button class="btnC"> {{ button_label|default('Envoyer') }} </button>
</div>
{{ form_end(form) }}

