<nav class="menu" id="menu_navabr">
    <ol>
        <li class="menu-item">
            <a href="{{ path('home') }}" class="home">
                <i class="fas fa-home"></i>
                <span>Les Dix'Fi de Thymio</span>
            </a>
        </li>
        <li class="menu-item">
            <a href="#0" class="widgets">
                <i class="fas fa-trophy"></i>
                <span>Les Dix'Fi</span>
            </a>
            <ol class="sub-menu">
                <li class="menu-item item--a"><a href="{{ path('thymio_challenge_index', {'difficulty' : 'easy'}) }}"
                                                 class="item--a"><span>Dix'Fi Facile</span></a></li>
                <li class="menu-item item--a"><a href="{{ path('thymio_challenge_index', {'difficulty' : 'medium'}) }}"
                                                 class="item--a"><span>Dix'Fi Moyen</span></a></li>
                <li class="menu-item item--a"><a href="{{ path('thymio_challenge_index', {'difficulty' : 'hard'}) }}"
                                                 class="item--a"><span>Dix'Fi Difficile</span></a></li>
                <li class="menu-item item--a"><a href="{{ path('thymio_challenge_index', {'difficulty' : 'extreme'}) }}"
                                                 class="item--a"><span>Dix'Fi Extrême</span></a></li>
            </ol>
        </li>
        <li class="menu-item">
            <a href="#0" class="widgets">
                <i class="fas fa-pen"></i>
                <span>Teachers'Fi</span>
            </a>
            <ol class="sub-menu">
                <li class="menu-item"><a class="dropdown-item" href="{{ path('public_challenge_index') }}"><span>Les défis publics</span></a>
                </li>
                {% if is_granted('ROLE_STUDENT_GROUP') %}
                    <li class="menu-item"><a class="dropdown-item" href="{{ path('private_challenge_index') }}"><span>Les défis de mon professeur</span></a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_TEACHER') %}
                    <li class="menu-item"><a class="dropdown-item"
                                             href="{{ path('challenge_new') }}"><span>Créer un défi</span></a>
                    </li>
                    <li class="menu-item"><a class="dropdown-item" href="{{ path('challenge_showMyChallenge') }}"><span>Voir mes défis </span></a>
                    </li>
                {% endif %}
            </ol>

        </li>
        {% if is_granted('ROLE_TEACHER') %}
            <li class="menu-item">
                <a href="#0" class="kabobs">
                    <i class="fas fa-chalkboard-teacher"></i>
                    <span>Mon espace Teacher</span>
                </a>

                <ol class="sub-menu">
                    <li class="menu-item"><a href="{{ path('list_groups',{'purpose': 'validation'}) }}" class="item--a"><span>Validation des défis de mes groupes</span></a>
                    </li>
                    <li class="menu-item"><a href="{{ path('list_groups',{'purpose': 'progress'}) }}"
                                             class="item--b"><span> Progression de mes groupes</span></a></li>
                </ol>
            </li>
        {% else %}
            <li class="menu-item">
                <a href="#0" class="kabobs">
                    <i class="fas fa-lock"></i>
                    <span>Espace privé Teachers</span>
                </a>
            </li>
        {% endif %}

        <li class="menu-item">
            <a href="{{ path('home') }}" class="aide">
                <i class="fas fa-question"></i>
                <span>Aide</span>
            </a>
        </li>

        <li class="menu-item">
            <a href="{{ path('user_index') }}" class="contact">
                <i class="fas fa-user-alt"></i>
                <span>Mon Profil</span>
            </a>
        </li>
    </ol>
</nav>