{% extends 'base.html.twig' %}

{% block title %}Teacher index{% endblock %}

{% block body %}
    <h1>Teacher index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nickname</th>
                <th>CreatedAt</th>
                <th>DeletedAt</th>
                <th>Password</th>
                <th>MailTeacher</th>
                <th>NameTeacher</th>
                <th>FirstNameTeacher</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for teacher in teachers %}
            <tr>
                <td>{{ teacher.id }}</td>
                <td>{{ teacher.nickname }}</td>
                <td>{{ teacher.createdAt ? teacher.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ teacher.deletedAt ? teacher.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ teacher.password }}</td>
                <td>{{ teacher.mail}}</td>
                <td>{{ teacher.name }}</td>
                <td>{{ teacher.firstName }}</td>
                <td>
                    <a href="{{ path('teacher_show', {'id': teacher.id}) }}">show</a>
                    <a href="{{ path('teacher_edit', {'id': teacher.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('teacher_show',{'id': app.user.username}) }}">Create new</a>
{% endblock %}
