{% extends 'base.html.twig' %}


{% block title %} La progression de vos groupes {% endblock %}
{% block body %}
    <h1 class="h1title"> La progression de vos groupes sur les Dix'Fi de Thymio </h1>
    <hr class="helpHr">
    {% if studentgroups == null %}
        <div class="buttonMargin">
            <div><img style="width: 40%; margin-top: 5%; margin-bottom: 5%;" src="{{ asset('images/child.png') }}"
                      alt="Robot_Thymio"></div>
        </div>
    {% else %}
        {% for studentgroup in studentgroups %}
            <fieldset class="showChallenge2">
                <legend class="legendValidation"> Groupe n°{{ studentgroup.id }} : {{ studentgroup.nickname }}</legend>
                <p> Le groupe «{{ studentgroup.nickname }}» a une progression de : <b>{{ studentgroup.countSucceed / 10 *100}}% </b></p>
                {{ render(controller('App\Controller\ThymioChallengeController::listChallengesValidated', {'id': studentgroup.id}) ) }}
                {{ render(controller('App\Controller\ThymioChallengeController::listChallengesInProgress', {'id': studentgroup.id}) ) }}
            </fieldset>
        {% endfor %}
    {% endif %}
{% endblock %}
