{% extends 'base.html.twig' %}


{% block title %} La progression de vos groupes {% endblock %}
{% block body %}
    <fieldset class="descriptionThymio"> La progression de vos groupes sur les DixFi de Thymio </fieldset>

    {% for studentgroup in studentgroups %}
        <fieldset class="thymioChallenge">
            <legend class="legendValidation"> Groupe n°{{ studentgroup.id }} : {{ studentgroup.nickname }}</legend>
            <p> Le groupe «{{ studentgroup.nickname }}» a une progression de : <b>{{ studentgroup.countSucceed / 10 *100}}% </b></p>
            {{ render(controller('App\\Controller\\ThymioChallengeController::listChallengesValidated', {'id': studentgroup.id}) ) }}
            {{ render(controller('App\\Controller\\ThymioChallengeController::listChallengesInProgress', {'id': studentgroup.id}) ) }}
        </fieldset>
    {% endfor %}
{% endblock %}

