{% extends 'base.html.twig' %}

{% block title %}Mon profil de Teacher{% endblock %}

{% block body %}
<fieldset class="formInscription">
    <legend class="legendInscription">Hello {{ teacher.nickname }} !</legend>
    <div class="form-group">
        <p> Voici vos données personnelles </p>

    <table class="table">
        <tbody>

            <tr>
                <th> Votre Nickname :</th>
                <td>{{ teacher.nickname }}</td>
            </tr>
            <tr>
                <th> Votre Identifiant :</th>
                <td>{{ teacher.id }}</td>
            </tr>
            <tr>
                <th>Adresse mail :</th>
                <td>{{ teacher.mail }}</td>
            </tr>
            <tr>
                <th>Nom :</th>
                <td>{{ teacher.name }}</td>
            </tr>
            <tr>
                <th>Prénom :</th>
                <td>{{ teacher.firstName}}</td>
            </tr>
            <tr>
                <th>Le compte a été créé le :</th>
                <td>{{ teacher.createdAt ? teacher.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
    </div>
    <a href="{{ path('student_group_index') }}">Voir mes groupes d'étudiants</a>
    <br>
    <a href="{{ path('teacher_edit') }}">Modifier mon profil</a>
    <br>
    <br>
    {{ include('teacher/_delete_form.html.twig') }}
{% endblock %}
