{% extends 'base.html.twig' %}


{% block title %}Liste des groupes{% endblock %}

{% block body %}
    <h1 class="h1title">Mes groupes :</h1>
    <hr class="helpHr">

    <fieldset class="showChallenge">
        <div class="container">
            <div class="row">
                {% for student_group in student_groups %}
                    {% if student_group.teacher==app.user %}
                        <div class="col-sm-5">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Groupe n°{{ student_group.id }}
                                        : {{ student_group.nickname }}</h4>
                                    <hr class="helpHr">
                                    <br>
                                    <h5 class="card-text">Membres :
                                        {{ render(controller('App\\Controller\\ChildController::show', {'id': student_group.id}) ) }}
                                    </h5>
                                    <h5 class="card-text">Date de
                                        création: {{ student_group.createdAt ? student_group.createdAt|date('Y-m-d H:i:s') : '' }}</h5>
                                    <h5 class="card-text">ThymioChallenge(s)
                                        réussi(s): {{ student_group.countSucceed }}</h5>
                                    <br>
                                    <div>
                                        {{ include('student_group/_delete_form.html.twig') }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% else %}
                    <fieldset class="showChallenge">
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    <p>Aucun groupe créé</p>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                {% endfor %}
            </div>
        </div>
    </fieldset>
    <div class="buttonMargin">
        <a href="{{ path('new_student_group') }}">
            <button class="btnG">Créer un nouveau groupe</button>
        </a>
    </div>

    <div class="buttonMargin">
        <a href="{{ path('teacher_show', {'id':app.user.id }) }}">
            <button class="btnB2">
                Revenir à mon profil
            </button>
        </a>
    </div>
{% endblock %}