{% extends 'base.html.twig' %}

{% block title %}Les défis privés{% endblock %}

{% block body %}

    <fieldset class="showChallenge">
        <legend> Les défis de votre professeur </legend>
        <div class="challenge_container">
            {% for privateChallenge in privateChallenges %}
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title"> Défi n°{{ privateChallenge.id }} : {{ privateChallenge.name }}</h4> <hr>
                        <h5 class="card-text"> Difficulté : {{ privateChallenge.difficulty }}</h5>
                        <h5 class="card-text">Crée le : {{ privateChallenge.createdAt ? privateChallenge.createdAt|date('d-m-Y') : '' }}</h5>
                        <h5 class="card-text">Durée : {{ privateChallenge.duration }} </h5>
                    </div>
                    <div class="buttonStartChallenge">
                        <a href="{{ path('private_challenge_show', {'id': privateChallenge.id}) }}"> <button class="btnG"> Voir le défi </button> </a>
                    </div>
                    <br>
                </div>
            {% else %}
                <div class="divProf">
                   <img class="imgProf" src="{{ asset('images/professeur.png') }}"
                              alt="Professeur_Thymio">
                    <p> Aucun défi n'a été crée par votre professeur.</p>
                    <br>
                </div>

            {% endfor %}
        </div>
    </fieldset>

{% endblock %}
