{% extends 'base.html.twig' %}

{% block title %}ThymioChallenge index{% endblock %}

{% block body %}
    <h1>ThymioChallenge index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Difficulty</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for thymio_challenge in thymio_challenges %}
            <tr>
                <td>{{ thymio_challenge.id }}</td>
                <td>{{ thymio_challenge.name }}</td>
                <td>{{ thymio_challenge.difficulty }}</td>
                <td>
                    <a href="{{ path('thymio_challenge_show', {'id': thymio_challenge.id}) }}">show</a>
                    <a href="{{ path('thymio_challenge_edit', {'id': thymio_challenge.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('thymio_challenge_new') }}">Create new</a>
{% endblock %}
