{% extends 'base.html.twig' %}

{% block title %} Les défis Thymio {% endblock %}

{% block body %}

<fieldset class="showChallenge">
    <legend> Les DixFi de Thymio </legend>
    <div class="challenge_container">
    {% for thymio_challenge in thymio_challenges %}
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"> Défi n°{{ thymio_challenge.id }} : {{ thymio_challenge.name }}</h4> <hr>
                <h5 class="card-body"> Temps : {{ thymio_challenge.duration }}</h5>
            </div>
            <div class="buttonMargin">
                {% if is_granted('ROLE_STUDENT_GROUP') %}
                    {{ render(controller('App\\Controller\\ThymioChallengeController::listStateChallenge', {'id': thymio_challenge.id}) ) }}
                {% elseif is_granted('ROLE_USER_GUEST') %}
                    {{ render(controller('App\\Controller\\ThymioChallengeController::listStateChallengeUserGuest', {'id': thymio_challenge.id}) ) }}
                {% elseif is_granted('ROLE_TEACHER') %}
                    <div class="buttonMargin">
                        <a href="{{ path('thymio_challenge_show', {'id': thymio_challenge.id}) }}"> <button class="btnG"> Voir le défi </button> </a>
                    </div>
                {% endif %}
            </div>
        </div>

        {% endfor %}
    </div>
</fieldset>

{% endblock %}