{% extends 'base.html.twig' %}

{% block title %} Les défis Thymio {% endblock %}

{% block body %}

<fieldset class="showChallenge">
    <legend> Les DixFi de Thymio </legend>
        {% if is_granted('ROLE_STUDENT_GROUP') or is_granted('ROLE_USER_GUEST') %}
        {% if app.user.countSucceed == 0 %}
            <h3> N'hésitez plus à vous lancer dans les DixFi, {{ app.user.nickName }} ! Thymio vous attend !</h3>
        {% elseif app.user.countSucceed < 5 %}
            <h3> Bien joué, {{ app.user.nickName }} ! Vous avez une progression de {{ app.user.countSucceed*10}}%. Ne vous arrêtez pas dans votre lancée.</h3>
        {% elseif app.user.countSucceed < 8 %}
            <h3> Wooow, {{ app.user.nickName }} ! Vous avez une progression de {{ app.user.countSucceed*10}}%. Continuez comme ça !</h3>
        {% elseif app.user.countSucceed < 10 %}
            <h3> Vous me surprenez, {{ app.user.nickName }} ! Vous avez une progression de {{ app.user.countSucceed*10}}%. Vous y êtes presque, ne lachez rien !</h3>
        {% elseif app.user.countSucceed == 10 %}
            <h3> Bravo, {{ app.user.nickName }} ! Vous avez une progression de {{ app.user.countSucceed*10}}% ! Thymio vous remercie de l'avoir accompagné jusqu'au bout.</h3>
        {% endif %}
        {% endif %}
    <div class="challenge_container">
    {% for thymio_challenge in thymio_challenges %}
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"> Défi n°{{ thymio_challenge.id }} : {{ thymio_challenge.name }}</h4> <hr>
                <h5 class="card-body"> Temps : {{ thymio_challenge.duration }}</h5>
            </div>
            <div class="buttonMargin">
                {% if is_granted('ROLE_STUDENT_GROUP') %}
                    {{ render(controller('App\\Controller\\ThymioChallengeController::listStateChallenge', {'id': thymio_challenge.id}) ) }}
                {% elseif is_granted('ROLE_USER_GUEST') %}
                    {{ render(controller('App\\Controller\\ThymioChallengeController::listStateChallengeUserGuest', {'id': thymio_challenge.id}) ) }}
                {% else %}
                    <div class="buttonMargin">
                        <a href="{{ path('thymio_challenge_show_user_simple', {'id': thymio_challenge.id}) }}"> <button class="btnG"> Voir le défi </button> </a>
                    </div>
                {% endif %}
            </div>
        </div>

        {% endfor %}
    </div>
</fieldset>

{% endblock %}