{% extends 'base.html.twig' %}

{% block title %}Défi Thymio n°{{ thymio_challenge.id }} {% endblock %}

{% block body %}

    {% for message in app.flashes('notification') %}
        <div class="alert alert-info alert-dismissible fade show">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
        </div>
    {% endfor %}

    <fieldset class="showChallenge">

        <div class="buttonMargin">
            <iframe width="420" height="400" src="{{ thymio_challenge.pathVideo }}" alt="SolutionDixFi"
                    allowfullscreen></iframe>
        </div>

        <legend>Défi n°{{ thymio_challenge.id }} : {{ thymio_challenge.name }}</legend>

        <p><u>Temps nécessaire</u> : {{ thymio_challenge.duration }} </p>
        <p><u>Difficulté</u> : {{ thymio_challenge.difficulty }} </p>
        <p><u>Description</u> : {{ thymio_challenge.description }} </p>
        {% for indice in indices %}
            <p id="num{{ indice.numberHelp }}"> Indice {{ indice.numberHelp }}
                : {{ indice.contentHelp }}</p><br>
        {% endfor %}
        <div class="buttonMargin">
            <button class="btnC" onclick="myFunction()">Voir un indice</button>
        </div>
    </fieldset>


    <div class="buttonMargin">

        {% if is_granted('ROLE_STUDENT_GROUP') %}
            {% if status.statusInt==2 %}

                <div class="pos_left">
                    <button class="btnG2"> Envoyé </button>
                </div>
            {% elseif status.statusInt==3 %}
                <div class="pos_left">
                    <button class="btnG2"> Validé </button>
                </div>
            {% else %}
                    {{ include('thymio_challenge/_add_file_form.html.twig') }}
            {% endif %}

        {% elseif is_granted('ROLE_USER_GUEST') %}
            {% if status.statusInt==1 %}
                <div class="pos_right">
                    <form method="post" action="{{ path('validate_user_challenge', {'id':  thymio_challenge.id}) }}"
                          onsubmit="return confirm('Etes-vous certain de vouloir valider ce défi?');">
                        <button class="btnG">Valider</button>
                    </form>
                </div>
            {% else %}
                <div class="pos_right">
                    <button class="btnG2"> Défi terminé </button>
                </div>
            {% endif %}
        {% endif %}



        {% if is_granted('ROLE_TEACHER') %}
            <a href="{{ path('thymio_challenge_solution', {'id': thymio_challenge.id}) }}">
                <button class="btnB2"> Voir la correction</button>
            </a>
        {% endif %}
        <div style="float: right; margin-right: 18%;">
            <a href="{{ path('thymio_challenge_index', {'difficulty': thymio_challenge.difficulty}) }}">
                <button type="button" style="margin-left: 4em;" class="btnB2">Retour aux défis</button>
            </a>
        </div>

    </div>

{% endblock %}
