{% extends 'base.html.twig' %}

{% block title %}ThymioChallenge{% endblock %}

{% block body %}

<fieldset class="thymioChallenge">

    <legend class="legendChallenge">Défi n°{{ thymio_challenge.id }} : {{ thymio_challenge.name }}</legend>

    <p>Temps nécessaire : {{ thymio_challenge.duration }} </p>
    <p> {{ thymio_challenge.difficulty }} </p>

    <p>  {{ thymio_challenge.description }} </p>

</fieldset>

    <div class="col-sm-4">
       <!-- Ici mail -->
    </div>
    <div class="form-group">
        <input type="submit" value="Envoyer" class="btn btn-success" />
    </div>


    <div>
        <a href="{{ path('thymio_challenge_show', {'id': thymio_challenge.id}) }}" style="margin: 41%;">
            <button class="btn btn-success">Faire valider par notre professeur</button>
        </a>
    </div>


    {% if is_granted('ROLE_TEACHER') %}
    <div class="buttonStartChallenge">
        <a href="{{ path('thymio_challenge_solution', {'id': thymio_challenge.id}) }}"> <button class="btn btn-success"> Voir la correction </button></a>
    </div>
        </form>
    {% endif %}

    <div>
        <a href="{{ path('thymio_challenge_index', {'difficulty': thymio_challenge.difficulty}) }}">
           <button type="button" class="btn btn-danger">Retour à la page des défis</button>
        </a>
    </div>

{% endblock %}
