{% extends 'base.html.twig' %}

{% block title %}Correction du défi Thymio n°{{ thymio_challenge.id }}{% endblock %}
{% block body %}
    <div class="divBody">
        <fieldset class="descriptionThymio">
            Solution du défi n°{{ thymio_challenge.id }} : {{ thymio_challenge.name }}
        </fieldset>
        <p class="solutionDescription">Objectif du défi : {{ thymio_challenge.description }} </p>
        <fieldset class="solutionThymio">
            <img class="imageSolution" src="{{ thymio_challenge.solutionPath }}" alt="SolutionDixFi">
        </fieldset>
        <div class="buttonMargin">
            <a href="{{ path('thymio_challenge_index', {'difficulty': thymio_challenge.difficulty}) }}">
                <button class="btnB2">Retour sur les
                    Dix'Fi {{ thymio_challenge.difficulty }}</button>
            </a>
        </div>
        <form method="post" action="{{ path('thymio_challenge_create_pdf', {'id': thymio_challenge.id}) }}">
            <div class="buttonStartChallenge">
                <button class="btnG"> PDF correction du DixFi {{ thymio_challenge.id }}  </button>
            </div>
        </form>
    </div>

{% endblock %}
