{{ form_start(form) }}
{{ form_label(form.fileCorrection) }}
    {{ form_widget(form.fileCorrection) }}

    <button class="btn btn-success">{{ button_label|default('Ajouter la correction') }}</button>

{{ form_end(form) }}

{{ form_end(form) }}
