<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>PublicChallenge - Corection sous format PDF</title>

    <link href="{{ absolute_url(asset('css/general.css')) }}" rel="stylesheet">


</head>
<body class="bodyPDF">
<div>
    <fieldset class="descriptionThymio">
        Solution du défi n°{{ publicChallenge.id }} : {{ publicChallenge.name }}
    </fieldset>
    <fieldset class="objectifPDF">
        <p class="solutionPDF">Objectif du défi : {{ publicChallenge.description }} </p>
    </fieldset>
    <br>
    <p> Challenge rédigé par : {{ publicChallenge.teacher.name }} {{ publicChallenge.teacher.firstname }} ({{ publicChallenge.createdAt|date('Y-m-d') }})</p>
    <fieldset class="solutionThymioPDF">
        <img class="imageSolutionPDF" src="{{ absolute_url(asset(publicChallenge.solutionPath)) }}" alt="SolutionDixFi">
    </fieldset>
</div>
</body>
</html>