{% extends 'base.html.twig' %}

{% block title %}PublicChallenge index{% endblock %}

{% block body %}
    <h1>PublicChallenge index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Difficulty</th>
                <th>Description</th>
                <th>Duration</th>
                <th>Role</th>
                <th>SolutionPath</th>
                <th>NameCorrectionPDF</th>
                <th>CreatedAt</th>
                <th>DeletedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for public_challenge in public_challenges %}
            <tr>
                <td>{{ public_challenge.id }}</td>
                <td>{{ public_challenge.name }}</td>
                <td>{{ public_challenge.difficulty }}</td>
                <td>{{ public_challenge.description }}</td>
                <td>{{ public_challenge.duration }}</td>
                <td>{{ public_challenge.role }}</td>
                <td>{{ public_challenge.solutionPath }}</td>
                <td>{{ public_challenge.nameCorrectionPDF }}</td>
                <td>{{ public_challenge.createdAt ? public_challenge.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ public_challenge.deletedAt ? public_challenge.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('public_challenge_show', {'id': public_challenge.id}) }}">show</a>
                    <a href="{{ path('public_challenge_edit', {'id': public_challenge.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('public_challenge_new') }}">Create new</a>
{% endblock %}
