{% extends 'base.html.twig' %}

{% block title %}Défi public n° {{ publicChallenge.id }}{% endblock %}

{% block body %}


    {% for message in app.flashes('notification') %}
        <div class="alert alert-info alert-dismissible fade show">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
    {% endfor %}

    <fieldset class="showChallenge">

        <legend>Défi n°{{ publicChallenge.id }} : {{ publicChallenge.name }}</legend>
        <p> Crée le : {{ publicChallenge.createdAt ? publicChallenge.createdAt|date('d-m-Y') : '' }} </p>
        <p> Temps nécessaire : {{ publicChallenge.duration }} </p>
        <p> Difficulté : {{ publicChallenge.difficulty }} </p>
        <p> Description : {{ publicChallenge.description }} </p>

        {% for indice in indices %}
        <p id="num{{ indice.numberHelp }}"> Indice {{ indice.numberHelp }}
            : {{ indice.contentHelp }}</p><br>
        {% endfor %}
        <div class="buttonMargin">
            <button class="btnC" onclick="myFunction()">Voir un indice</button>
        </div>
        {%  if publicChallenge.nameCorrection != null %}
        <div class="buttonMargin">
            <button class="btnB" onclick="myFunction2()" id="button_js">Voir la correction</button>
        </div>


        <div class="buttonMargin">
            <img id="correction" src="{{ vich_uploader_asset(publicChallenge, 'fileCorrection') }}">
        </div>
        <form method="post"  action="{{ path('public_challenge_create_pdf', {'id': publicChallenge.id}) }}">
            <div class="buttonStartChallenge">
                <button class="btnG"> PDF correction du DixFi {{ publicChallenge.id }}  </button>
            </div>
        </form>

        {% endif %}

    </fieldset>
    {% block javascripts %}
        <script src="/js/indices.js"></script>
    {% endblock %}
{% endblock %}
