{% extends 'base.html.twig' %}

{% block title %}Challenge{% endblock %}

{% block body %}
    <fieldset class="showChallenge">
        <legend>{{ public_challenge.name }}</legend>
        <table class="form_table">
            <tr>
                <td>
                    <h3>{{ public_challenge.difficulty }}</h3>
                </td>
            </tr>
            <tr>
                <td>Description :</td>
                <td>

                    <h2>{{ public_challenge.description }}</h2>
                </td>
            </tr>
            <tr>
                <td>Nom du fichier de correction :</td>
                <td>
                    {{ public_challenge.nameCorrection }}
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <img src="{{ vich_uploader_asset(public_challenge, 'fileCorrection') }}">
                </td>
            </tr>

        </table>
    </fieldset>

    <a href="{{ path('challenge_edit', {'id': public_challenge.id}) }}">edit</a>

{% endblock %}

