{% extends 'base.html.twig' %}

{% block title %}Défi public n° {{ public_challenge.id }}{% endblock %}

{% block body %}


    {% for message in app.flashes('notification') %}
        <div class="alert alert-info alert-dismissible fade show">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
        </div>
    {% endfor %}

    <fieldset class="thymioChallenge">
        <legend class="legendChallenge">Défi n°{{ public_challenge.id }} : {{ public_challenge.name }}</legend>
        <table class="challenge_table">
            <tr>
                <td class="td_label_indice">
                    Crée le :
                </td>
                <td class="td_label_indice2">
                    {{ public_challenge.createdAt ? public_challenge.createdAt|date('d-m-Y') : '' }}
                </td>
            </tr>
            <tr>
                <td class="td_label_indice">
                    Temps nécessaire :
                </td>
                <td class="td_label_indice2">
                    {{ public_challenge.duration }}
                </td>
            </tr>
            <tr>
                <td class="td_label_indice">
                    Difficulté :
                </td>
                <td class="td_label_indice2">
                    {{ public_challenge.difficulty }}
                </td>
            </tr>
            <tr>
                <td class="td_label_indice">
                    Description :
                </td>
                <td class="td_label_indice2">
                    {{ public_challenge.description }}
                </td>
            </tr>
            <tr></tr>
            <tr>
                <td colspan="2" class="td_indices">{{ indices|length }} indice(s) disponible</td>
            </tr>
            <br>

            {% for indice in indices %}
                <tr>
                    <td colspan="2">
                        <p id="num{{ indice.numberHelp }}" class="td_label_indice"> Indice {{ indice.numberHelp }}
                            : {{ indice.contentHelp }}</p>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td  colspan="2" class="td_image"><button class="btnC" onclick="myFunction()">Voir un indice</button></td>
            </tr>
            <tr>
                <td colspan="2" class="td_image"><button class="btnB" onclick="myFunction2()">Voir la correction</button></td>
            </tr>



            <tr>
                <td colspan="2" class="td_image">
                    <img id="correction" style="width: 50%; height: auto; margin-top:50px;margin-bottom: 50px;"
                         src="{{ vich_uploader_asset(public_challenge, 'fileCorrection') }}" alt="Correction">
                </td>
            </tr>

        </table>
    </fieldset>

    {% block javascripts %}
        <script>
            let compteur = 0;

            function myFunction() {
                compteur++;
                document.getElementById("num".concat(compteur.toString())).style.display = "inline";
            }

            function myFunction2() {
                document.getElementById("correction").style.display = "inline";
            }
        </script>
        <script>
            var botmanWidget = {
                frameEndpoint: '{{ path("chatframe") }}',
                chatServer: '{{ path("message") }}',
                introMessage: 'Bonjour, je suis Thymio et je suis ici pour t\'aider. Ecrit "indice" si tu as besoin d\'aide !',
                title: 'Thymio',
                mainColor: '#CECECE',
                bubbleBackground: "#ffffff",
                bubbleAvatarUrl: "https://www.my-etechno.com/995-large_default/robot-thymio-wireless.jpg",
                placeholderText: 'Ecris ton message ici !',
                aboutText: '',
                userId: '{{ public_challenge.id }}'
            };
        </script>
        <script src='https://cdn.jsdelivr.net/npm/botman-web-widget@0/build/js/widget.js'></script>
    {% endblock %}


{% endblock %}
