{{ form_start(form) }}
<fieldset class="formInscription">
    <legend class="legendInscription">Création d'un groupe</legend>
    <div class="form-group">
        {{ form_label(form.nickname, 'Nom du groupe : ') }}
        <div class="col-sm-14">
            {{ form_widget(form.nickname) }}
        </div>
        <div class="form-group">
            {{ form_label(form.password, 'Mot de passe : ') }}
            <div class="col-sm-14">
                {{ form_widget(form.password)}}
            </div>
        </div>
        <div class="form-group">
            <label for="verifpass">Saisir une seconde fois le mot de passe : </label>
            <div class="col-sm-14">
                <input type="password" id="verifpass" required>
            </div>
        </div>
        <button class="btn btn-success">{{ button_label|default('Créer le groupe') }}</button>
</fieldset>
{{ form_end(form) }}
