{% extends 'base.html.twig' %}

{% block title %}Liste de vos groupes d'étudiants{% endblock %}

{% block body %}
    <fieldset class="formListG">
        <legend class="legendInscription">{{ teacher.nickname }}'s Student Groups !</legend>
        <div class="form-group">

            <table class="table">
                <thead>
                <tr>
                    <th class="td_label4">Identifiant</th>
                    <th class="td_label4">Pseudo</th>
                    <th class="td_label4">Date de création</th>
                    <th class="td_label4" style="width:40%;">ThymioChallenge(s) réussi(s)</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for student_group in student_groups %}
                    {% if student_group.teacher==app.user %}
                        <tr>
                            <td class="td_label3">{{ student_group.id }}</td>
                            <td class="td_label3">{{ student_group.nickname }}</td>
                            <td class="td_label3">{{ student_group.createdAt ? student_group.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                            <td class="td_label3" style="width:40%;">{{ student_group.countSucceed }}</td>
                            <td>
                                <a href="{{ path('student_group_delete', {'id': student_group.id}) }}"> <button class="btn btn-danger"> DELETE </button></a>
                            </td>
                        </tr>
                    {% endif %}
                {% else %}
                    <tr>
                        <td colspan="8">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </fieldset>
    <div>
    <a href="{{ path('student_group_new') }}"> <button class="btnG"> Créer un groupe </button></a>

    <a href="{{ path('teacher_show', {'id':teacher.id })}}"> <button class="btnG" style="margin-left: 5em;"> Voir mon profil </button> </a>
    </div>
{% endblock %}