{% extends 'base.html.twig' %}

{% block title %}Liste des groupes{% endblock %}

{% block body %}

    <h3 class="titleGuide">Mes groupes :</h3>
    <fieldset class="userIndex">
        <div class="form-group">
            <table class="table">
                <thead>
                <tr>
                    <th>Identifiant</th>
                    <th>Pseudo</th>
                    <th>Date de création</th>
                    <th>Date de suppression</th>
                    <th>ThymioChallenge(s) réussi(s)</th>
                </tr>
                </thead>
                <tbody>
                {% for student_group in student_groups %}
                    {% if student_group.teacher==app.user %}
                        <tr>
                            <td>{{ student_group.id }}</td>
                            <td>{{ student_group.nickname }}</td>
                            <td>{{ student_group.createdAt ? student_group.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ student_group.deletedAt ? student_group.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ student_group.countSucceed }}</td>
                            <td>
                                <a href="{{ path('student_group_delete', {'id': student_group.id}) }}">Supprimer</a>
                            </td>
                        </tr>
                    {% endif %}
                {% else %}
                    <tr>
                        <td colspan="8">Aucun groupe créé</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <br>
    </fieldset>
    <div class="buttonMargin">
        <a href="{{ path('student_group_new') }}">
            <button class="btnG">Créer un nouveau groupe</button>
        </a>
    </div>

    <div class="buttonMargin">
        <a href="{{ path('teacher_show', {'id':teacher.id }) }}">
            <button class="btnB2">
                Revenir à mon profil
            </button>
        </a>
    </div>
{% endblock %}