{% extends 'base.html.twig' %}

{% block title %}Mon Groupe{% endblock %}

{% block body %}
<fieldset class="formG">
    <legend class="legendInscription"> Mon groupe d'étudiants</legend>
    <div class="form-group">

        <table class="table">
            <tbody>
            <tr>
                <th class="td_label4">Votre Identifiant</th>
                <td class="td_label3">{{ student_group.id }}</td>
            </tr>
            <tr>
                <th class="td_label4">Pseudo du groupe</th>
                <td class="td_label3">{{ student_group.nickname }}</td>
            </tr>
            <tr>
                <th class="td_label4">Les membres du groupe</th>
                <td class="td_label3">
                    {% if children!=null %}
                    {% for child in children %}
                    <p> {{ child.nameChild }} {{ child.firstNameChild }}</p>
                    {% endfor %}
                    {% else %}
                    <p>Pas de membres indiqués</p>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th class="td_label4">Votre enseignant</th>
                <td class="td_label3">{{ student_group.teacher.name }} {{ student_group.teacher.firstName }}</td>
            </tr>
            <tr>
                <th class="td_label4">Date de création</th>
                <td class="td_label3">{{ student_group.createdAt ? student_group.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th class="td_label4" style="width:34%;">Niveau de progression</th>
                <td class="td_label3">{{ student_group.countSucceed*10 }}%</td>
            </tr>
            </tbody>
        </table>
    </div>
</fieldset>
        <a href="{{ path('user_index') }}">
            <button class="btnG"> Revenir au Menu</button>
        </a>

        {% endblock %}
