{% extends 'base.html.twig' %}
{% block title %}Vidéos youtube {% endblock %}

{% block body %}
    <div>
        <fieldset class="showChallenge">
            <legend>Bienvenue sur la plateforme Youtube destinée à Thymio.</legend>
            <p>Vous pouvez effectuer des recherches concernant le robot Thymio afin de mieux vous familiariser avec ce
                robot
                !
                Attention : Il vous suffit d'indiquer ce que vous souhaitez connaître, sans avoir besoin de citer
                Thymio.</p>
            <p>Par exemple, si vous souhaitez avoir une présentation du robot, il vous suffit d'écrire "présentation".</p><br>
            <hr>

            <div class="buttonMargin">
                {{ form_start(form) }}
                <p>{{ form_label(form.request, 'Votre recherche : ') }}</p>
                <p>{{ form_widget(form.request, { 'attr': {'class': 'form_field', 'autocomplete': 'off', 'outline': 'none'} }) }}</p><br>
                <div class="buttonMargin">
                    <button class="btnG">{{ button_label|default('Rechercher') }}</button>
                </div>
                {{ form_end(form) }}
            </div>

        </fieldset>

        <div class="container">
            <div class="row">
                {% for video in videos %}
                    <div class="col-sm-6">
                        <fieldset class="showChallenge">
                            <div class="buttonMargin">
                                <p> {{ video.snippet.title }} </p> <hr>
                            <div>
                                <iframe width="320" height="300"
                                        src="https://www.youtube.com/embed/{{ video.id.videoId }}"
                                        allowfullscreen></iframe>
                            </div>
                            </div>
                        </fieldset>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}