{% extends 'base.html.twig' %}


{% block body %}
    {% for message in app.flashes('notification') %}
        <div class="alert alert-dismissible alert-success">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>

    {% endfor %}
    <fieldset class="showChallenge">
        <legend> Contactez-nous </legend>
    <div class="bg-white p-4 contact-form">
        <div class="form-group">
            {{ form_start(our_form) }}
            {{ form_row(our_form.fullName, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_row(our_form.email, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_row(our_form.message, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    </fieldset>
    <div class="form-group text-center">
        <input type="submit" value="Envoyer" class="btnG">
    </div>
    {{ form_end(our_form) }}
{% endblock %}