{% extends 'base.html.twig' %}

{% block title %}Challenge index{% endblock %}

{% block body %}
    <fieldset class="showChallenge">
        <legend>Mes défis publics</legend>
        <div class="challenge_container">
            {% for challenge in public_challenges %}
                {% if challenge.teacher == app.user %}
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">n°{{ challenge.id }}</h4>
                            <h4 class="card-title"> {{ challenge.name }}</h4>
                            <h5 class="card-title"> {{ challenge.difficulty }}</h5>
                            <table>
                                <tr>
                                    <td>
                                        <a href="{{ path('challenge_showChallenge', {'id': challenge.id}) }}">
                                            <button class="btnB">Voir ce
                                                défi
                                            </button>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{ path('challenge_edit', {'id': challenge.id}) }}">
                                            <button class="btnB">Editer ce défi</button>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="{{ path('help_new', {'id': challenge.id}) }}">
                                            <button class="btnB">Ajouter un indice</button>
                                        </a>
                                    </td>
                                    <td>

                                        <a href="{{ path('help_list', {'id': challenge.id}) }}">
                                            <button class="btnB">Voir les indices</button>
                                        </a>
                                    </td>
                                </tr>
                                {% if challenge.nameCorrection == null %}
                                <tr>
                                    <td>
                                        <a href="{{ path('challenge_addCorrection', {'id': challenge.id}) }}">
                                            <button class="btnC">Ajouter la correction</button>
                                        </a>
                                    </td>
                                </tr>
                                {% endif %}
                            </table>
                        </div>
                    </div>

                {% endif %}
            {% endfor %}
        </div>
    </fieldset>


    <fieldset class="showChallenge">
        <legend>Mes défis privés</legend>
        <div class="challenge_container">
            {% for challenge in private_challenges %}
                {% if challenge.teacher == app.user %}
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title"> {{ challenge.name }}</h4>
                            <h5 class="card-title"> {{ challenge.difficulty }}</h5>
                            <table>
                                <tr>
                                    <td>
                                        <a href="{{ path('challenge_showChallenge', {'id': challenge.id}) }}">
                                            <button class="btnB">Voir ce
                                                défi
                                            </button>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{ path('challenge_edit', {'id': challenge.id}) }}">
                                            <button class="btnB">Editer ce défi</button>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="{{ path('help_new', {'id': challenge.id}) }}">
                                            <button class="btnB">Ajouter un indice</button>
                                        </a>
                                    </td>
                                    <td>

                                        <a href="{{ path('help_list', {'id': challenge.id}) }}">
                                            <button class="btnB">Voir les indices</button>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                {% endif %}
            {% endfor %}
        </div>
    </fieldset>

    <a href="{{ path('challenge_new',{'id': app.user.id}) }}">
        <button class="btnG">Créer un défi</button>
    </a>

{% endblock %}

