{% extends 'base.html.twig' %}

{% block title %}Challenge{% endblock %}

{% block body %}
    {% if public_challenge != null %}
        <fieldset class="showChallenge">
            <legend>{{ public_challenge.name }}</legend>
            <table class="form_table">
                <tr>
                    <td>Difficulté</td>
                    <td>
                        <h3>{{ public_challenge.difficulty }}</h3>
                    </td>
                </tr>
                <tr>
                    <td>Description :</td>
                    <td>

                        <h5>{{ public_challenge.description }}</h5>
                    </td>
                </tr>
                <tr>
                    <td>Nom du fichier de correction :</td>
                    <td>
                        <h3>{{ public_challenge.nameCorrection }}</h3>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <img style="width: 50%; height: auto; margin-top:50px;margin-bottom: 50px;"src="{{ vich_uploader_asset(public_challenge, 'fileCorrection') }}">
                    </td>
                </tr>
            </table>
        </fieldset>
        <br>
    {% else %}
        <fieldset class="showChallenge">
            <legend>{{ private_challenge.name }}</legend>
            <table class="form_table">
                <tr>
                    <td>Difficulté</td>
                    <td>
                        <h3>{{ private_challenge.difficulty }}</h3>
                    </td>
                </tr>
                <tr>
                    <td>Description :</td>
                    <td>

                        <h5>{{ private_challenge.description }}</h5>
                    </td>
                </tr>
            </table>
        </fieldset>
    {% endif %}

    <a href="{{ path('challenge_edit', {'id': challenge.id}) }}">edit</a>

    {{ include('challenge/_delete_form.html.twig') }}
{% endblock %}
