{% extends 'base.html.twig' %}

{% block title %}Aide{% endblock %}

{% block body %}
    <h1>Présentation de la semaine Thymio</h1>
    <hr class="helpHr">
    <fieldset class="showChallenge">
        <div class="d-flex justify-content-center">
                <img id="weekThymio" src="{{ asset('images/weekThymio.jpg') }}" alt="Semaine_Thymio">
        </div>
        <br>
        <div class="d-flex justify-content-center">
                <img style="width:40%; border-radius: 15px; margin:0;" src="{{ asset('images/semaineThymio.png') }}"
                     alt="Semaine_Thymio">
        </div>
    </fieldset>
    <br>
    <h1>Manuel d'utilisation des Dix'Fi de Thymio</h1>
    <hr class="helpHr">

    <fieldset class="showChallenge">
        <legend>Création d'un compte</legend>
        <div class="buttonMargin">
            <img style="margin-bottom: 3%; width:60%;" src="{{ asset('images/inscription.png') }}" alt="aideInscription">
        </div>
        <p><u>Etapes :</u></p>
        <ul>
            <li> 1 : Remplir vos données</li> <hr>
            <li> 2 : Choisir votre compte. Vous avez le choix entre un enseignant ou un utilisateur simple. <br> &nbsp - L'enseignant permet d'avoir accès à des groupes d'étudiants, ainsi que la fonctionnalité de créer des défis publics/privés. <br> &nbsp - L'utilisateur peut effectuer les défis en obtenant sa progression. </li> <hr>
            <li> 3 : Inscrire deux fois votre mot de passe</li> <hr>
            <li> 4 : Valider votre inscription. Vous recevrez un mail contenant un numéro. Veillez à le conserver, il sera nécessaire pour la connexion !</li>
        </ul>
    </fieldset>

    <fieldset class="showChallenge">
        <legend>Connexion à son compte</legend>
        <div class="buttonMargin">
            <img style="margin-bottom: 3%; width:60%;" src="{{ asset('images/connexion.png') }}" alt="aideConnexion">
        </div>
        <p><u>Etapes :</u></p>
        <ul>
            <li> 1 : Inscrire votre identifiant reçu par email lors de votre inscription</li> <hr>
            <li> 2 : Inscrire votre mot de passe</li> <hr>
            <li> 3 : Appuyer sur "Se Connecter"</li>
        </ul>
    </fieldset>

    <fieldset class="showChallenge">
        <legend>Les défis</legend>
        <div class="buttonMargin">
            <iframe width="650" height="450" src="https://www.youtube.com/embed/vvKvahylf7Y" alt="GuideUtilisateurDixFi"
                    allowfullscreen></iframe>
        </div>

        <div class="buttonMargin">
            <iframe width="650" height="450" src="https://www.youtube.com/embed/ENZCw-mINPc" alt="GuideUtilisateurDixFi"
                    allowfullscreen></iframe>
        </div>

        <div class="buttonMargin">
            <iframe width="650" height="450" src="https://www.youtube.com/embed/D8mL01krr7o" alt="GuideUtilisateurDixFi"
                    allowfullscreen></iframe>
        </div>
    </fieldset>

    <br>
    <h1>Vous rencontrez un autre soucis ?</h1>
    <hr class="helpHr">
        <a href="{{ path('contact_index') }}"> <button class="btnG"> Contactez-nous ! <i class="fas fa-envelope"></i> </button> </a>

{% endblock %}
