{% form_theme form 'bootstrap_4_layout.html.twig' %}

{{ form_start(form, {'attr': {'id': 'new_edit_user_guest'}}) }}

<fieldset class="formInscription2">
    <legend class="legendInscription">Création d'un compte</legend>
    <table class="form_table">
        <tr>
            <td class="td_label">
                    {{ form_label(form.nickname, 'Surnom : ') }}
            </td>
            <td class="td_field2">
                    {{ form_widget(form.nickname, { 'attr': {'class': 'form_field', 'autocomplete': 'off', 'outline': 'none'} }) }}
            </td>
        </tr>
        <tr>
            <td class="td_label">
                    {{ form_label(form.name, 'Nom : ') }}
            </td>
            <td class="td_field2">
                    {{ form_widget(form.name, { 'attr': {'class': 'form_field', 'autocomplete': 'off', 'outline': 'none'} }) }}
            </td>
        </tr>
        <tr>
            <td class="td_label">
                    {{ form_label(form.firstName, 'Prénom : ') }}
            </td>
            <td class="td_field2">
                    {{ form_widget(form.firstName, { 'attr': {'class': 'form_field', 'autocomplete': 'off', 'outline': 'none'} }) }}
            </td>
        </tr>
        <tr>
            <td class="td_label">
                    {{ form_label(form.mail, 'Adresse mail : ') }}
                    <span class="error">{{ form_errors(form.mail) }}</span>
            </td>
            <td class="td_field2">
                    {{ form_widget(form.mail, { 'attr': {'class': 'form_field', 'autocomplete': 'off', 'outline': 'none'} }) }}
            </td>
        </tr>
        <tr>
            <td class="td_label">
                {{ form_label(form.roles, 'Vous êtes : ', { 'attr': { 'class': 'form_field' } }) }}
                <p>(un choix possible) </p>
            </td>
            <td class="td_field2">
                {{ form_widget(form.roles) }}
            </td>
        </tr>
        <tr>
            <td class="td_label">
                    {{ form_label(form.password, 'Mot de passe : ') }}
            </td>
            <td class="td_field2">
                    {{ form_widget(form.password, { 'attr': {'class': 'form_field', 'autocomplete': 'off', 'outline': 'none'} }) }}
            </td>
        </tr>
        <tr>
            <td class="td_label">
                    <label for="verifpass">Saisir une seconde fois votre mot de passe : </label>
            </td>
            <td class="td_field2">
                    <input class="form_field" type="password" id="verifpass" required>
            </td>
        </tr>
    </table>

    <button class="btn btn-success">{{ button_label|default('Créer mon compte') }}</button>

</fieldset>
{{ form_end(form) }}
