{% extends 'base.html.twig' %}

{% block title %}UserGuest{% endblock %}

{% block body %}
<fieldset class="formInscription">
    <legend class="legendInscription">Hello {{ user_guest.nickname }} !</legend>
    <div class="form-group">
        <p> Voici vos données personnelles </p>


        <table class="table">
        <tbody>
            <tr>
                <th>Votre identifiant</th>
                <td>{{ user_guest.id }}</td>
            </tr>
            <tr>
                <th>Votre adresse mail</th>
                <td>{{ user_guest.mail }}</td>
            </tr>
            <tr>
                <th>Votre nome</th>
                <td>{{ user_guest.name }}</td>
            </tr>
            <tr>
                <th>Votre prénom</th>
                <td>{{ user_guest.firstname }}</td>
            </tr>
        </tbody>
    </table>
    </div>
</fieldset>
    <a href="{{ path('user_index') }}">Retour en arrière</a>
    <br>
    <a href="{{ path('user_guest_edit', {'id': user_guest.id}) }}">Modifier votre profil</a>

    {{ include('user_guest/_delete_form.html.twig') }}
{% endblock %}
