{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    <h1 class="h1title">Bonjour {{ user_guest.nickname }} !</h1>
    <fieldset class="showChallenge2">
        <legend>Voici vos données personnelles</legend>
        <div class="form-group">
            <table class="table">
                <tbody>
                <tr>
                    <th>Votre identifiant : </th>
                    <td>{{ user_guest.id }}</td>
                </tr>
                <tr>
                    <th>Votre adresse mail : </th>
                    <td>{{ user_guest.mail }}</td>
                </tr>
                <tr>
                    <th>Votre nom</th>
                    <td>{{ user_guest.name }}</td>
                </tr>
                <tr>
                    <th>Votre prénom : </th>
                    <td>{{ user_guest.firstname }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
    <div class="buttonMargin">
        <a href="{{ path('user_guest_edit')}}">
            <button class="btnG"> Modifier mon profil</button>
        </a>
    </div>
    {{ include('user_guest/_delete_form.html.twig') }}
{% endblock %}