{% form_theme form 'bootstrap_4_layout.html.twig' %}

{{ form_start(form) }}
<fieldset class="showChallenge">
    <legend>Connexion à mon compte</legend>
    <table class="form_table">
        <tr>
            <td class="td_label3">
                {{ form_label(form.nickname, 'Surnom : ') }}
            </td>
            <td class="td_field2">
                {{ form_widget(form.nickname, { 'attr': {'class': 'form_field', 'autocomplete': 'off', 'outline': 'none'} }) }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form_label(form.password, 'Mot de passe : ') }}
            </td>
            <td>
                {{ form_widget(form.password, { 'attr': {'class': 'form_field', 'autocomplete': 'off', 'outline': 'none'} }) }}
            </td>
        </tr>
    </table>

    <button class="btn btn-success">{{ button_label|default('Se connecter') }}</button>

</fieldset>

{{ form_end(form) }}
