{% form_theme form 'bootstrap_4_layout.html.twig' %}

{{ form_start(form) }}

<fieldset class="formInscription">
    <legend class="legendInscription">Connexion à mon compte</legend>
    <table class="form_table">
        <tr>
            <td class="td_label3">
                <div class="form-group">
                    {{ form_label(form.nickname, 'Surnom : ') }}
                </div>
            </td>
            <td class="td_field2">
                <div class="col-sm-14">
                    {{ form_widget(form.nickname, { 'attr': {'class': 'form_field', 'autocomplete': 'off', 'outline': 'none'} }) }}
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="form-group">
                    {{ form_label(form.password, 'Mot de passe : ') }}
                </div>
            </td>
            <td>
                <div class="col-sm-14">
                    {{ form_widget(form.password, { 'attr': {'class': 'form_field', 'autocomplete': 'off', 'outline': 'none'} }) }}
                </div>
            </td>
        </tr>
    </table>


    <button class="btn btn-success">{{ button_label|default('Se connecter') }}</button>

</fieldset>


{{ form_end(form) }}
